:root {
  --beige: hsl(21, 48%, 92%);
  --cyan: hsl(179, 21%, 57%);
  --green: hsl(62, 46%, 68%);
  --pink: hsl(343, 38%, 59%);
  --darkbeige: hsl(26, 96%, 82%);
  --black: hsl(0, 0%, 25%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 95%);
  --padding: calc(10px + 2vw);
}

* {
  box-sizing: border-box;
  font-family: gelica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
}

html {
  width: 100%; height: 100%;
  touch-action: none;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: var(--beige);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-family: loretta-variable, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 {
  font-family: gelica, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: var(--white);
  margin: 0;
}

h2 {
  font-family: gelica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--white);
  margin: 0;
  font-size: calc(20px + 1vw);
}

h3 {
  font-family: gelica, sans-serif;
  font-weight: 500;
  font-style: italic;
  color: var(--white);
  margin: 0;
}


/* ----- NAVBAR ---- */

nav {
  position: fixed;
  z-index: 8888;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(15px + 4vw);
  width: 100%;
  padding: var(--padding);
  transition: transform .5s;
}

.hide {
  transform: translateY(-100%);
}

nav #instagram-link {
  position: absolute;
  left: var(--padding);
  display: flex;
  gap: 8px;
  align-items: center;

  & img {
    width: 25px;
    height: 25px;
    transition: transform .5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

nav a {
  font-size: calc(10px + .5vw);
  font-family: loretta-variable, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition-duration: .5s;
  cursor: pointer;
}

nav:has(a:hover) a:not(a:hover) {
  opacity: 0.3;
}

nav a:hover {
  color: var(--pink);
}

#activeTab {
  text-decoration: underline;
}

/* ----- HEADER ---- */

header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  height: calc(0.6 * 100vw);
}

@media only screen and (max-width: 767px) {
  header {
    top: 10vh;
    margin-bottom: 30vh;
  }
}

header > img {
  width: 110%;
  position: absolute;
  z-index: -1;
  right: -5%;
}

.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  left: calc(10px + 5vw);
  width: 50%;
  max-width: 1000px;
  min-width: 300px;

  transform: translateY(-20%);
}

.title img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  header img {
    top: 15vh;
  }
}

.title div {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: calc(15px + 3vw);
}

.title div h1 {
  text-transform: uppercase;
  font-size: calc(20px + 2vw);
}

.title button {
  position: absolute;
  background: var(--grey);
  color: var(--cyan);
  border: 4px solid var(--cyan);
  border-radius: 500px;
  padding: calc(10px + .5vw) calc(12px + 1vw);
  font-family: gelica, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: calc(12px + .5vw);
  text-transform: uppercase;

  bottom: 10%;
  right: 10%;
  transform: translateY(50%);

  transition: background 1s, color 1s, scale 1s;
}

.title button:hover {
  background: var(--cyan);
  color: var(--grey);
  scale: 1.1;
}


/* ----- SECTION ---- */

section {
  position: relative;
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(20px + 3vh);
  width: 100%;
}

section::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url('graphics/content-shape-start.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: calc(0.15 * 100vw);
  transform: translateY(-99%);
}

section::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  background-image: url('graphics/content-shape-end.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: calc(0.102 * 100vw);
  transform: translateY(99%);
}

/* ----- CLUB DESC ---- */

.club-desc {
  margin: 10vh 0 ; /* top bottom / left right */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: calc(10px + 2vw);
}

.club-desc h3 {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

/* ----- EVENTS ---- */

.events {
  margin: 10vh 0 ; /* top bottom / left right */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: calc(10px + 2vw);
}

.events .events-container {
  position: relative;
  width: min(calc(100% - 40px), 600px); 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }

  img {
    width: 40%;

    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .event-info {
    width: 100%;
  }

  p, li, u {
    color: var(--white);
  }

  button {
    background-color: var(--grey);
    color: var(--pink);
    border: 4px solid var(--pink);
    border-radius: 500px;
    padding: calc(10px + .5vw) calc(12px + 1vw);
    font-family: gelica, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: calc(12px + .5vw);
    text-transform: uppercase;
  
    transition: background-color 1s, color 1s, scale 1s;
  }

  button:hover {
    background: var(--pink);
    color: var(--grey);
    scale: 1.1;
  }
}

/* ----- SPONSORS ---- */

.sponsors {
  margin: 10vh 0 ; /* top bottom / left right */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(10px + 2vw);
  bottom: 10%;
  width: 100%;
}

.sponsors-list {
  display: flex;
  width: 100%;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 200px)); */
  gap: calc(10px + 5vw);
}

.sponsors-list .sponsor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: min(calc(100% - 40px), 600px); 
  /* width: 400px; */
  background-color: var(--pink);
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (max-width: 767px) {
  .sponsors-list .sponsor {
    flex-direction: column;
    gap: 10px;
  }
}

.sponsor-infos {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  p {
    color: var(--white);
  }

  .sponsor-link {
    color: var(--grey);
    font-size: 12px;
    text-decoration: underline;
  }
}

.sponsors-list .sponsor .sponsor-logo {
  width: 40%;
}

@media only screen and (max-width: 767px) {
  .sponsors-list .sponsor-infos, .sponsors-list .sponsor-logo {
    width: 100%;
  }
}

/* ----- CONTACT ---- */

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact img {
  max-width: 700px;
  width: 90%;
}

.contact div {
  position: absolute;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.contact div a {
  color: var(--cyan);
  font-size: calc(14px + .5vw);
}

.contact div a:hover {
  text-decoration: underline;
}

/* ----- SPACER ---- */

.spacer {
  width: 100%;
  height: 20vh;
}

/* ----- FOOTER ---- */

footer {
  position: relative;
  display: flex;
  justify-content: center;
  gap: calc(5px + 1vw);
  width: 100%;
  padding: calc(5px + .5vw);
}

.footer-element {
  font-size: calc(8px + .2vw);
  font-family: loretta-variable, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
}

footer a {
  color: var(--black);
  transition: color .5s;
}

footer a:hover {
  color: var(--cyan);
}
